@if (memories(); as list) {
  <mat-button-toggle-group
    class="filters"
    hideSingleSelectionIndicator
    aria-label="Which memories"
    [value]="filter()"
    (change)="filter.set($event.value)"
  >
    <mat-button-toggle value="all">all ({{ list.length }})</mat-button-toggle>
    @for (t of types(); track t) {
      <mat-button-toggle [value]="t">{{ t }}</mat-button-toggle>
    }
  </mat-button-toggle-group>

  <ul class="mem-list">
    @for (m of visible(); track m.name) {
      <li>
        <a [routerLink]="['/m', m.name]" [innerHTML]="m.name | slug"></a>
        @if (m.description) {
          <span class="desc" [innerHTML]="m.description"></span>
        }
      </li>
    } @empty {
      <p>No memories.</p>
    }
  </ul>
} @else {
  <mat-progress-bar mode="indeterminate" />
}
